html {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: #22C3B3;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #22C3B3;
    text-shadow: 3px 3px 6px black;
  }
  
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #615734;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  img {
      display: block;
      margin: 0 auto;
  }